.grade h1{
   color: rgb(0,0,200);
}
.grade p{
   color: rgb(200,100,50);
}
.option li {
  border-bottom: 1px solid #636366;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-top: 3px;
}
.option a {
  color: rgb(200,200,50); 
  font-size: 30px;
}
.option {
 background-image: url('../background.jpg');
 left top;
  left: -250px; 
  height: 100%;
  position: fixed;
  width: 250px;
}
.jumbotron {
   font-size: 30px;
  background-image: url('../background.jpg');
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.icon-option{
	font-size: 30px;
}
