body {
  min-height: 100%;
  background-image: url('../image/background.jpg');
  background-repeat: repeat-x;
  background-size: cover;
}
h1.head
{
  border-style:solid;
  font-size:30px;
}
p.footer
{
  border-style:solid;
}
