body {
  min-height: 100%;
  background-image: url('../image/background.jpg');
  background-repeat: repeat-x;
  background-size: cover;
}
h1.head
{
  border-style:solid;
  font-size:30px;
}
p.footer
{
  border-style:solid;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "TW-MOE-Std-Kai", "正規","AR PL UKai TW";/* Not sure the font name */
}
