body {
  min-height: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  background-color: #DDDDFF;
}
h1.head
{
  border-style:solid;
  font-size:30px;
}

footer
{
  width: 100%;
  font-size: 24px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px 10px rgba(200,200,255,0.7);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "edukai-3", "正規","教育部標準楷書";/* Not sure the font name */
}
