@import "compass/css3/flexbox";

$largeScreen: "(min-height: 40em) and (min-width: 64em)";

#information{
  padding: 10px;
  margin-bottom: 10px;
}

.quest-information-item {
  margin-right: 3px;
  display: inline-block;
  padding: 5px 8px;
  font-size: 1.8em;
  line-height: 1.3333333;
  border-radius: 6px;
  background: rgba(255,255,255,0.2);
  float: left;
}

.quest-information-endtest{
  margin-right: 3px;
  display: inline-block;
  padding: 5px 8px;
  font-size: 1.8em;
  line-height: 1.3333333;
  border-radius: 6px;
  background: rgba(255,0,0,0.5);
  color: #FFF;
  float: right;
}

#option-button{
  display:none;
}
@media #{$largeScreen}{
  #option-button{
    display: inline-block;
  }
}

.option-horizontal{
  width: 25%;
  height: 170px;
  padding: 10px;
}

.option-mark{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size:4em;
    line-height:1.2;
}
.option-tone{
    position: absolute;
    left: 70%;
    top: 50%;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size:4em;
}

.option-container{
  @include flexbox((
    display: box,
    box-orient: both
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-direction: both
  ), $version: 2);
  @include flexbox((
    display: flex,
    flex-direction: both 
  ));
}

.option {
  border-color: rgba(20,20,20,0.5);
  color: #222222;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(100%,100%,100%,0.5);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 22px 0px rgba(20,20,20,0.5);
  display: block;
  width: 100%;
}
.option-clear {
  background-color: rgba(255,255,255,1);
}
.option-wrong{
  background-color: rgba(255,0,0,1);
}
.option-correct {
  background-color: rgba(0,255,0,1);
}
.btn-clear {
  cursor:default;
  background-color: rgba(255,255,255,0.5);
  border-color: rgba(20,20,20,0.5);
  color: #222222;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(100%,100%,100%,0.5);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 22px 0px rgba(20,20,20,0.5);
}

.question-select-arrow{
  text-align: center;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size:4em;
}
