// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";
@import "compass";

@font-face{
  font-family: 'edukai';
  font-style: normal;
  src: url(../assets/edukai-3.ttf);
}

$footer-height: 3em;
$header-height: 90px;

$showfooter: "(min-height: 40em) and (min-width: 64em)";

body {
  min-height: 100%;
  background-color: #DDDDFF;
  background: url(../image/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-size: 60%;
}

@media #{$showfooter}{
  body{
    font-size: 100%;
  }
}


header h1{
  margin: 0;
  height: $header-height;
  font-size: 4em;
  line-height: 160%;
  padding-top: 20px;
  @include background-image(linear-gradient(to bottom, rgba(200,200,255,1), rgba(200,200,255,0.8) 90%, rgba(255,255,255,0)));
}
@media #{$showfooter}{
  header h1{
    padding-top: 0px;
  }
}

.font-kai{
  font-family: "edukai";
}

footer{
  display:none;
}
@media #{$showfooter}{
  footer{
    display:block;
    height: $footer-height;
    width: 100%;
    font-size: 1.5em;
    background-color: white;
    position: absolute;
    bottom: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 10px rgba(200,200,255,0.7);
  }
}

#main-block{
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 1em;
  overflow-y: auto;
}
@media #{$showfooter}{
  #main-block{
    bottom: $footer-height + 3em;
  }
}
@import "bootstrap/theme";

#popup-option{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 30px 30px 30px 30px;
  margin: 16em auto;
  background-color: rgba(40,160,160,0.9);
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
